{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" style="max-width: 100vw;overflow-x: hidden;">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PaddingPack</title>
	<!-- favicons Icons -->
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/images/favicons/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/images/favicons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicons/favicon-16x16.png" /> -->
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/static/wout_text_prev_ui.png" /> -->
	<!-- <link rel="icon" type="image/png" sizes="32x32" href="/static/wout_text_prev_ui.png"/> -->
	<!-- <link rel="icon" type="image/png" sizes="16x16" href="/static/wout_text_prev_ui.png" />   -->

	<link rel="apple-touch-icon"  sizes="180x180" href="/static/icon_2nd.jpeg" />
	<!-- <link rel="icon" type="image/png" sizes="180x180" href="/static/icon_2nd.jpeg"/> -->
	<link rel="icon" type="image/png" sizes="16x16" href="/static/wout_text_prev_ui.png" /> 

	<link rel="manifest" href="/static/assets/images/favicons/site.webmanifest" />
	<meta name="description" content="Entox HTML Template For Car Business" />

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
	<!-- <link rel="stylesheet" href="htt://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/static/assets/vendors/animate/animate.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/fontawesome/css/all.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/jarallax/jarallax.css" />
	<link rel="stylesheet" href="/static/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
	<link rel="stylesheet" href="/static/assets/vendors/nouislider/nouislider.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/nouislider/nouislider.pips.css" />
	<link rel="stylesheet" href="/static/assets/vendors/odometer/odometer.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/swiper/swiper.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/moniz-icons/style.css">
	<link rel="stylesheet" href="/static/assets/vendors/tiny-slider/tiny-slider.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/reey-font/stylesheet.css" />
	<link rel="stylesheet" href="/static/assets/vendors/owl-carousel/owl.carousel.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/owl-carousel/owl.theme.default.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/twentytwenty/twentytwenty.css" />
	<link rel="stylesheet" href="/static/assets/vendors/bxslider/jquery.bxslider.css" />
	<link rel="stylesheet" href="/static/assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
	 <link rel="stylesheet" href="/static/assets/vendors/vegas/vegas.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" href="/static/assets/vendors/timepicker/timePicker.css" /> 
	 <!-- template styles --> 
	<link rel="stylesheet" href="/static/assets/css/moniz.css" />
	<!-- RTL Styles -->
	<link rel="stylesheet" href="/static/assets/css/moniz-rtl.css">
	<!-- color css -->
	<link rel="stylesheet" id="jssDefault" href="/static/assets/css/colors/color-default.css">
	<link rel="stylesheet" id="jssMode" href="/static/assets/css/modes/moniz-normal.css">
	<link rel="stylesheet" href="/static/assets/css/moniz-responsive.css" />


			


</head>

<body >
	<!-- <div class="overlay_yellow"></div> -->
	<!-- <div class="preloader">
		<img class="preloader__image" width="60" src="/static/assets/wout_text_prev_ui.png" alt="" />
	</div>


	<div class="page-wrapper" >
		<header class="main-header clearfix" >
			<nav class="main-menu clearfix">
				<div class="main-menu-wrapper clearfix" style="padding: 0;">
					<div class="main-menu-wrapper__left clearfix">
						<div class="main-menu-wrapper__logo">
							<a href="index.html"><img src="/static/wout_text_prev_ui.png" style="width: 15%;" alt=""></a>
						</div>
 -->

{% block content %}
    
{% endblock content %}
    

		<!--Get in Touch Start-->

		<!--Get in Touch End-->

		<!--Brand Two-->
		<!--Brand Two End-->

		<!--CTA One Start-->

		<!--CTA One End-->

		<!--Site Footer One Start-->
		<footer class="site-footer pt-5">
			<div class="site-footer__top pt-4" style="padding: 0%; padding-top: 0px;padding-bottom: 50px; ">
				<div class="site-footer-top-bg"
					style="background-image: url(/static/assets/images/backgrounds/site-footer-bg.jpg)"></div>
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp pt-4" data-wow-delay="100ms">
							<div class="footer-widget__column footer-widget__about">
								<div class="footer-widget__about-logo">
									<a href="index.html" style="color: whitesmoke ; font-weight: bold; font-size: 24px;"> Padding<span style="color: orangered;">Pack</span>  </a>
								</div>
								<div class="footer-widget__column footer-widget__about">
									<div class="footer-widget__about-social-list">
										<a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
										<a href="https://t.me/One_million_codersss" class="clr-dri"><i class="fab fa-telegram"></i></a>
										<a href="https://instagram.com/padding_pack1" class="clr-ins"><i class="fab fa-instagram"></i></a>
										<a href="#" class="clr-ins"><i class="fab fa-email"></i></a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp pl-3 pt-4" style="padding: 0%;" data-wow-delay="400ms">
							<div class="footer-widget__column footer-widget__contact" style="margin: 0%; padding: 0%;">
								<h3 class="footer-widget__title" style="padding-bottom: 10px;margin: 0%;"> {% trans 'Contact' %} </h3>

											<span  id="company_gmail"  style="color: orangered; font-weight: bold; background: none; border: none;" class="footer-widget__contact-">Packpadding@gmail.com</span> </br>
											<a href="tel:92-666-888-0000" class="footer-widget__contact-" >(+99890) 8996864</a> </br>
											<a href="tel:92-666-888-0000" class="footer-widget__contact-" >(+99897) 1200052  </a>
							</div>
						</div>
						<div class="col-xl-2 col-lg-1 col-md-3 wow fadeInUp pt-4" data-wow-delay="400ms">
							<div class="footer-widget__column footer-widget__contact" style="margin: 0%;">
								<h3 class="footer-widget__title" style="padding-bottom: 10px;margin: 0%;"> {% trans 'Navigation' %} </h3>
									<div class="footer-widget__contact-info">
										<p>
											<a href="{% url 'main:home' %}" class="footer-widget__contact-"> {% trans 'Home' %} </a>
										</p>
										<p>
											<a href="{% url 'main:about' %}" class="footer-widget__contact-"> {% trans 'About' %}  </a>
										</p>
										<p>
											<a href="#products" class="footer-widget__contact-"> {% trans 'Products' %} </a>
										</p>
										<p>
											<a href="#contact" class="footer-widget__contact-"> {% trans 'Contact' %} </a>
										</p>											
									</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp pt-4" data-wow-delay="400ms">
							<div class="footer-widget__column footer-widget__contact" style="margin: 0%;">
								<h3 class="footer-widget__title" style="padding-bottom: 10px;margin: 0%;"> Website </h3>
									<div class="footer-widget__contact-info">
										{% for creator in creators %}
										<p>
											<span> {{creator.work}} </span><a href="#cr" class="footer-widget__contact-"> {{creator.name}} </a>
										</p>
										{% endfor %}
											
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="site-footer-bottom" >
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="site-footer-bottom__inner">
							<p class="site-footer-bottom__copy-right">© 2022 All rights are reserved </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Site Footer One End-->


	</div><!-- /.page-wrapper -->


	<div class="mobile-nav__wrapper">
		<div class="mobile-nav__overlay mobile-nav__toggler"></div>
		<!-- /.mobile-nav__overlay -->
		<div class="mobile-nav__content">
			<span class="mobile-nav__close mobile-nav__toggler"></span>

			<div class="logo-box">
				<div class="main" style="display: flex; justify-content: center; align-items: center;">
					<a href="{% url 'main:home' %}" style="width: 100%;"><img src="/static/wout_text_prev_ui.png" id="" style="padding-bottom: 15px; width: 22%;" alt=""> <span style="color: whitesmoke; font-size: 23px;font-weight: bold;"> Padding <span style="color: orangered;"> Pack</span></span> </a>
				</div>
			</div>
			<!-- /.logo-box -->
			<div class="mobile-nav__container"></div>
			<!-- /.mobile-nav__container -->

			<ul class="mobile-nav__contact list-unstyled">
				<li>
					<i class="fa fa-envelope"></i>
					<span  id="company_gmail"  style="color: orangered; font-weight: bold; background: none; border: none;" class="footer-widget__contact-">Packpadding@gmail.com</span> </br>
				</li>
				<li>
					<i class="fa fa-phone-alt"></i>
					<a href="tel:(+99890) 8996864">(+99890) 8996864</a>
				</li>
			</ul><!-- /.mobile-nav__contact -->
			<div class="mobile-nav__top">
				<div class="mobile-nav__social">
					<a href="instagram.com/padding_pack1" > <i class="fa-brands fa-telegram"></i> </a>
					<a href="#" class="fab fa-facebook-square"></a>
					<a href="#" class="fab fa-pinterest-p"></a>
					<a href="#" class="fab fa-instagram"></a>
				</div><!-- /.mobile-nav__social -->
			</div><!-- /.mobile-nav__top -->



		</div>
		<!-- /.mobile-nav__content -->
	<!-- </div> -->
	<!-- /.mobile-nav__wrapper -->

	<!-- /.search-popup -->


	<script>
	// function CopyText() {
	// 	/* Get the text field */
	// 	var str = document.getElementById("company_gmail").innerHTML;	
	// 	console.log(str)
		
	// 	/* Select the text field */
	// 	// copyText.select();
	// 	// copyText.setSelectionRange(0, 99999); /* For mobile devices */
	  
	// 	 /* Copy the text inside the text field */
    //     window.getSelection();
    //     document.execCommand("Copy")
	//   } 

	  </script>
	<script src="/static/assets/vendors/jquery/jquery-3.5.1.min.js"></script>
	<script src="/static/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/static/assets/vendors/jarallax/jarallax.min.js"></script>
	<script src="/static/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
	<script src="/static/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
	<script src="/static/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
	<script src="/static/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="/static/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
	<script src="/static/assets/vendors/nouislider/nouislider.min.js"></script>
	<script src="/static/assets/vendors/odometer/odometer.min.js"></script>
	<script src="/static/assets/vendors/swiper/swiper.min.js"></script>
	<script src="/static/assets/vendors/tiny-slider/tiny-slider.min.js"></script>
	<script src="/static/assets/vendors/wnumb/wNumb.min.js"></script>
	<script src="/static/assets/vendors/wow/wow.js"></script>
	<script src="/static/assets/vendors/isotope/isotope.js"></script>
	<script src="/static/assets/vendors/countdown/countdown.min.js"></script>
	<script src="/static/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/static/assets/vendors/twentytwenty/twentytwenty.js"></script>
	<script src="/static/assets/vendors/twentytwenty/jquery.event.move.js"></script>
	<script src="/static/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
	<script src="/static/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="/static/assets/vendors/vegas/vegas.min.js"></script>
	<script src="/static/assets/vendors/jquery-ui/jquery-ui.js"></script>
	<script src="/static/assets/vendors/timepicker/timePicker.js"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>
	<!-- template js -->
	<script src="/static/assets/js/moniz.js"></script>
	<!-- color switcher language -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>
	<script src="/static/assets/js/jQuery.style.switcher.min.js"></script>
	<script src="/static/assets/js/lang.js"></script>
	<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<!-- <script src="/static/assets/js/color-switcher.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a20ad0c1e3.js" crossorigin="anonymous"></script>
	<style>


		body{
			max-width: 100vw;
			overflow-x: hidden;
		}
		.overlay_yellow{
			/* position: absolute; */
   			top: 0;
   			left: 0;
   			width: 100%;
   			height: 100%;
   			background-color: black;
   			opacity: 0.;
		}

	</style>
    




</body>
    
    </html>
